/*
  css reset rule
*/
html{
    font-size:10px;
    font-family: 'Merienda', cursive;
}

*, *:before, *:after{
    box-sizing: border-box;
}

/*
  css variables
*/
:root{
    --color-background:#0B253C;
    --color-white: #FFFFFF;
    --color-bg-button: #F5F5F2;
    --color-text1: #839FAE;
    --color-primary: #5252B2;
    --color-secondary: #F037A5;
    --color-secondary-light: #c55a9a;
    --color-danger: #FF2442;
    --color-gray: #C8C6C6;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}

/* main */
main{
    max-width: 1200px;
    height: 800px;
    background-color: var(--color-white);
    margin: 5rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main";
}

main header {
    grid-area: header;
    height: 8rem;
    padding: 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    /* background-color: var(--color-white); */
}

main header .header__image{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 6rem;
}

main header .header__image img{
    width: 6rem;
}

main header .header__image h4{
    color: var(--color-text1);
    font-size:1.5rem;
}

/* section weather and task */

main section.weather_and_task{
    background-color: var(--color-primary);
    grid-area: Side;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
}

main section.weather_and_task .weather_widget{
    text-align: center;
    color: var(--color-white);
    cursor: pointer;
}

main section.weather_and_task .weather_widget h2{
    font-size: 6rem;
    font-weight: bolder;
    margin-top: -2.5rem;
    margin-bottom: -1rem;
}

main section.weather_and_task .weather_widget p{
    font-size: 1.5rem;
    font-weight: 200;
}

main section.weather_and_task .date{
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items:center;
}

main section.weather_and_task .date .date_container h4{
    font-weight: 100;
    font-size: 1.4rem;
}

main section.weather_and_task .date .date_container h1{
    font-size: 3rem;
    margin-bottom: -2rem;
}

main section.weather_and_task .task{
    height: 30rem;
    overflow-y: auto
}

main section.weather_and_task .task .add_task_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}

main section.weather_and_task .task .add_task_button button, main section.weather_and_task .date button{
    height:4rem;
    width:4rem;
    border-radius: 50%;
    border: none;
    background-color: var(--color-secondary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-0.2rem);
    cursor: pointer;
    transition: all 0.5s;
}

main section.weather_and_task .task .add_task_button button:hover, main section.weather_and_task .date button:hover{
    background-color: var(--color-secondary-light)
}

main section.weather_and_task .task .add_task_button button:active, main section.weather_and_task .date button:active{
    transform: translateY(.5rem);
}

main section.weather_and_task .add_task_button button .fa-plus, main section.weather_and_task .date button .fa-plus{
    color: var(--color-primary);
    font-weight:bold;
    font-size: 2rem;
}

main section.weather_and_task .add_task_button p{
    color: var(--color-gray);
    font-weight: 100;
}

/* Style scroll bars */
main section.weather_and_task .task::-webkit-scrollbar{
    width: .5rem;
}

main section.weather_and_task .task::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px var(--color-primary); 
    border-radius: 10px;
}

main section.weather_and_task .task::-webkit-scrollbar-thumb {
    background: var(--color-white); 
    border-radius: 10px;
}


/* Main Section */
main section.main{
    grid-area: Main;
    display: flex;
    flex-direction: column;
}

main section.main .tab_buttons {
    display: flex;
}

main section.main .tab_buttons .tab_button{
    width:100%;
    padding:1.5rem 1rem;
    border: none;
    outline: none;
    background-color: var(--color-bg-button);
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-text1);
    font-family: inherit;
    cursor: pointer;
    transition: all 0.4s;
}

main section.main .tab_buttons .tab_button:hover{
    opacity: 0.7;
}

main section.main .tab_buttons .tab_button:not(:last-child){
    border-right: 2px solid var(--color-text1);
}
main section.main .tab_contents{
    height: 66.4rem;
}

main section.main .tab_contents .tab_content{
    height: 100%;
    overflow-y: auto;
}

/* Style scroll bars */
main section.main .tab_contents .tab_content::-webkit-scrollbar{
    width: .5rem;
}

main section.main .tab_contents .tab_content::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px var(--color-primary); 
}

main section.main .tab_contents .tab_content::-webkit-scrollbar-thumb {
    background: var(--color-white); 
    border-radius: 10px;
}


/* Weather Modal */
.modal {
    width: 60rem;
    background-color: var(--color-bg-button);
    position: absolute;
    top:  30%;
    left: 50%;
    transform: translate(-50%, -30%);
    animation-name: openModal;
    animation-duration: 0.4s;
    z-index: 20;
}

.weather_modal .modal_content .weather_details{
    display: flex;
    justify-content:space-evenly;
}

.weather_modal .modal_content .weather_details .high_temp, .low_temp, .humidity, .wind, .visibility {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.weather_modal .modal_content{
    padding: 4rem;
}

.weather_modal .modal_content .weather_form input{
    padding: 1.5rem 1.5rem;
    width: 100%;
    outline: none;
    border: 1px solid var(--color-gray);
    border-radius: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: inherit;
    font-size: 1.6rem;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

/* Add Task Modal */
.task_modal .modal_content{
    padding: 4rem;
}

.task_modal .modal_content header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.task_modal .modal_content .task_form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.task_modal .modal_content .task_form input{
    padding: 1.5rem 1.5rem;
    width: 100%;
    outline: none;
    border: 1px solid var(--color-gray);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: inherit;
    font-size: 1.6rem;
}

.btn{
    padding: 1rem 1rem;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    color: var(--color-white);
    transition: all 0.4s;
}

.btn:active{
    transform: translateY(.5rem);
}

.task_modal .modal_content button.cancel{
    background-color: var(--color-danger);
}

.task_modal .modal_content button.submit{
    background-color: var(--color-secondary);
}

/* Utility */
.hide{
    display: none;
    opacity: 0;
}

main section.main .tab_buttons button.active{
    border-bottom: 4px solid var(--color-primary);
}

/* animation */
@keyframes openModal {
    
    from {
        top: -30%;
        left: 50%;
        transform: translate(-50%, -30%);
        opacity: 0;
    }

    to{
        top:  30%;
        left: 50%;
        transform: translate(-50%, -30%);
        opacity: 1;
    }
}