/*
  css reset rule
*/
html{
    font-size:10px;
    font-family: 'Merienda', cursive;
}

*, *:before, *:after{
    box-sizing: border-box;
}

/*
  css variables
*/
:root{
    --color-background:#0B253C;
    --color-white: #F8F8F8;
    --color-text1: #839FAE;
    --color-primary: #5252B2;
    --color-secondary: #F037A5;
    --color-secondary-light: #c55a9a;
    --color-gray: #C8C6C6;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}

/* main */
main{
    max-width: 1200px;
    height: 800px;
    background-color: var(--color-white);
    margin: 5rem auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main"
    "Side   Side   Side   Side   Main   Main   Main   Main   Main   Main   Main   Main";
}

main header {
    grid-area: header;
    height: 8rem;
    padding: 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    /* background-color: var(--color-white); */
}

main header .header__image{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 6rem;
}

main header .header__image img{
    width: 6rem;
}

main header .header__image h4{
    color: var(--color-text1);
    font-size:1.5rem;
}

/* section weather and task */

main section.weather_and_task{
    background-color: var(--color-primary);
    grid-area: Side;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
}

main section.weather_and_task .weather_widget{
    text-align: center;
    color: var(--color-white);
}

main section.weather_and_task .weather_widget h2{
    font-size: 6rem;
    font-weight: bolder;
    margin-top: -2.5rem;
    margin-bottom: -1rem;
}

main section.weather_and_task .weather_widget p{
    font-size: 1.5rem;
    font-weight: 200;
}

main section.weather_and_task .date{
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items:center;
}

main section.weather_and_task .date .date_container h4{
    font-weight: 100;
    font-size: 1.4rem;
}

main section.weather_and_task .date .date_container h1{
    font-size: 3rem;
    margin-bottom: -2rem;
}

main section.weather_and_task .task{
    height: 30rem;
    overflow-y: auto
}

main section.weather_and_task .task .add_task_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}

main section.weather_and_task .task .add_task_button button, main section.weather_and_task .date button{
    height:4rem;
    width:4rem;
    border-radius: 50%;
    border: none;
    background-color: var(--color-secondary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-0.2rem);
    cursor: pointer;
    transition: all 0.5s;
}

main section.weather_and_task .task .add_task_button button:hover, main section.weather_and_task .date button:hover{
    background-color: var(--color-secondary-light)
}

main section.weather_and_task .task .add_task_button button:active, main section.weather_and_task .date button:active{
    transform: translateY(.5rem);
}

main section.weather_and_task .add_task_button button .fa-plus, main section.weather_and_task .date button .fa-plus{
    color: var(--color-primary);
    font-weight:bold;
    font-size: 2rem;
}

main section.weather_and_task .add_task_button p{
    color: var(--color-gray);
    font-weight: 100;
}

/* Style scroll bars */
main section.weather_and_task .task::-webkit-scrollbar{
    width: .5rem;
}

main section.weather_and_task .task::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px var(--color-primary); 
    border-radius: 10px;
}

main section.weather_and_task .task::-webkit-scrollbar-thumb {
    background: var(--color-white); 
    border-radius: 10px;
}


/* Utility */
.hide{
    display: none;
    opacity: 0;
}